@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../barb.jpg");
  height: 100vh;
  width: 100vw;
  background-image: cover;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
:root {
  --primary: #ffd700;
  --secondary: #fff;
}
.box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--secondary);
}
.box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid var(--primary);
  color: var(--secondary);
  margin-bottom: 20px;
  font-weight: 500;
}
.box h1 #abc {
  font-weight: bold;
}
.txt {
  font-size: x-small;
  font-weight: bold;
  color: var(--secondary);
  float: left;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid var(--primary);
}
.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: var(--secondary);
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.textbox input::placeholder {
  color: #fff;
}
.btn input {
  width: 100%;
  background: var(--primary);
  border: 2px solid transparent;
  color: var(--secondary);
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 12px 0;
  transition: 0.6s ease;
  border: 0.5px solid var(--primary);
}
.btn input:hover {
  background-color: transparent;
  border: 0.5px solid var(--secondary);
  border-bottom: 1px solid #adff2f;
  background: #008000;
}
